<% render 'default' do %>

	<!-- # Header -->	

	<div class="col-sm-12" id="posts">  
		<div class="page-header text-muted divider">
			<%= @item[:title] %>
		</div>
	</div>

	<!-- # Posts List -->

	<% @item[:entries].each_with_index do |entry,index| %>

		<% if index != 0 %>
			<div class="row divider">    
				<div class="col-sm-12"><hr></div>
			</div>
		<% end %>

		<div class="row">
			<div class="col-sm-12">
				<h3><%= link_to entry[:title], entry, :class => 'nocolor' %></h3>
			</div>
		<div class="row">
		
		<div class="row">    
			<div class="col-sm-6">
				<h4>
					<small class="text-muted">
						<%= lc entry.time(:created_at), :format => :blog %> • <a href="<%= entry.path %>" class="text-muted"><%= tr('catalog.post.read') %></a>
					</small>
				</h4>
			</div>
			<div class="col-sm-6">
				<h4 class="pull-right">
					<% tags_for(entry).each do |tag| %>
						<span class="label label-tag">
							<%= link_to tr(tag, :scope => :tag), @items["/blog/tag-latest-list/#{tag}/#{@item.i18n[:lang]}/"] %>
						</span>
					<% end %>
				</h4>
			</div> 
		</div>

	<% end %>

	<!-- # Pager -->

	<div class="col-sm-12">
		<div class="page-header text-muted divider">
			<%= tr('catalog.header.other') %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<% @item.catalogs.each_with_index do |cat,index| %>
				<% if index != 0 %>
					<small class="text-muted">|</small>
				<% end %>
				<%= link_to_unless_current cat[:pager], cat, :class => 'text-muted' %>
			<% end %>
		</div>
	</div> 

<% end %>
