<% render 'default' do %>
	
	<div class="page-header text-muted divider">
		<%= @item[:title] %>
	</div>

	<div class="clearfix"> 
		<h4 class="pull-left">
			<small class="text-muted"><%= lc item.time(:created_at), :format => :blog %></small>
		</h4>
		<h4 class="pull-right">
			<% if tags_for(item).any? %>
				<p>
					<% tags_for(item).each do |tag| %>
						<span class="label label-tag">
							<%= link_to tr(tag, :scope => :tag), @items["/blog/tag-latest-list/#{tag}/#{@item.i18n[:lang]}/"], :rel => 'tag' %>
						</span>
					<% end %> 
				</p>
			<% end %>
		</h4>
	</div>

	<article>
		<%= yield %>
	</article>

	<% if $pref[:followme] %>
		<div class="followme divider">
			<p><%= tr('followme.welcome') %></p>
			<form role="form">
				<div class="links">
					<% if $pref[:rss] %>
						<a href="<%= $pref[:rss][@item.i18n[:lang]] %>"><i class="fa fa-rss-square fa-2x"></i></a>
					<% end %>
					<% if $pref[:twitter] %>
						<a href="<%= $pref[:twitter][@item.i18n[:lang]] %>"><i class="fa fa-twitter-square fa-2x"></i></a>
					<% end %>
					<% if $pref[:facebook] %>
						<a href="<%= $pref[:facebook][@item.i18n[:lang]] %>"><i class="fa fa-facebook-square fa-2x"></i></a>
					<% end %>
					<% if $pref[:linkedin] %>
						<a href="<%= $pref[:linkedin][@item.i18n[:lang]] %>"><i class="fa fa-linkedin-square fa-2x"></i></a>
					<% end %>
				</div>
				<% if $pref[:madmimi] %>
					<div class="button">
						<button type="submit" class="btn btn-default btn-sm">OK</button>
					</div>
					<div class="input">
						<input type="email" class="form-control input-sm" id="digestEmail" placeholder="your@email.com">
					</div>
				<% else %>
					<div>&nbsp;</div>
				<% end %>
			</form>
		</div>
	<% end %>

	<% if $pref[:disqus] and @item[:disqus] %>
		<div class="row divider"></div>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = '<%= $pref[:disqus] %>',
				disqus_identifier = '<%= @item.i18n[:id] %>',
				disqus_title = '<%= @item[:disqus] %>';

			var disqus_config = function () { 
				this.language = '<%= @item.i18n[:lang] %>';
			};

			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<% end %>
    
<% end %>